<app-particles-background></app-particles-background>

<div class="home">
  <div class="home-image">
    <div class="image-container">
      <img src="/home.png" alt="Jean Gomes" class="profile-image" />
      <div class="image-border"></div>
    </div>
  </div>

  <div class="home-data">
    <h1 class="home-title">
      <p>Hi, I am Jean Gomes</p>
      <span>{{ displayTextWithCursor }}</span>
    </h1>

    <p class="home-description">
      I'm a Brazilian based software developer focused on crafting clean &
      user-friendly experiences. I am passionate about technology and building
      excellent software that improves the lives of those around me.
    </p>

    <div class="home-buttons">
      <a routerLink="/about" class="button" id="about-button">
        <span class="button__text">More About Me</span>
        <span class="button__icon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="M5 12h14"></path>
            <path d="m12 5 7 7-7 7"></path>
          </svg>
        </span>
      </a>

      <a
        href="assets/pdf/Currículo Atualizado - Jean L Gomes 2025.pdf"
        download
        class="button button--secondary"
        id="download-button"
        (click)="onDownloadClick()"
      >
        <span class="button__text">
          {{ downloadMessage }}
        </span>
        <span class="button__icon" *ngIf="!isDownloading">
          <!-- ícone normal -->
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
            <polyline points="7,10 12,15 17,10"></polyline>
            <line x1="12" y1="15" x2="12" y2="3"></line>
          </svg>
        </span>

        <!-- spinner enquanto baixa -->
        <span *ngIf="isDownloading" class="button__icon">
          <span class="spinner"></span>
        </span>
      </a>
    </div>
  </div>
</div>
